html {
    max-width: 800px;
    margin: 100px auto;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
}

.buttons{
    padding: 50px;
    margin: auto;
}

.rightSide, .leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightSide {
    margin-left: auto;
}

.resultDisplay {
    display: flex;
    margin: auto;
}